.main {
    display: flex;
    padding: 50px 0 0 300px;
    .dashboard {
        display: flex;
        min-height: 415px;
        border-radius: 5px;
        background: linear-gradient(145deg, #ffffff, #f2f2f247);
        box-shadow: 5px 5px 5px #d0d0d026;
        padding: 30px 0px 45px 0px;
    }
}
