body {
    overflow: hidden;
    background-color: #EFEFEF;
}

a, p, li, button {
    font-family: 'Muli';
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}