.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $white2;
    box-shadow: $shadow;
    .logo {
        color: $solid;
        font-size: 18px;
        padding-left: 60px;
        font-family: 'Muli-ExtraBoldItalic';
    }
}