.sidebar {
    width: 220px;
    height: 100vh;
    position: absolute;
    padding: 0 5px;
    text-align: center;
    // background: linear-gradient(0deg, rgba(42,53,67,1) 0%, rgba(44,61,82,1) 100%);
    background-color: #303030;
    box-shadow: 4px 0px 9px #30303066;
    .logo {
        text-align: left;     
        display: flex;
        align-items: center;
        margin: 10px 0;
        .logo-image {
            padding-left: 20px;
        }
        .logo-label {
            font-size: 18px;
            color: #fbfbfb;
            font-family: 'Muli-ExtraBoldItalic';
        }
    }
    .new {
        width: 60px;
        height: 30px;
        font-size: 16px;
        color: $white2;
        transition: ease .1s;
        margin: 50px 0 40px 0;
        font-family: 'Muli-ExtraBold';
        &:hover {
            background-color: $active1;
        }
    }
    .categories {
        margin-bottom: 30px;
        .category {
            color: $solid-light;
            font-size: 20px;
            font-family: 'Muli-ExtraBold';
            &:hover {
                cursor: pointer;
            }
            &.active-category {
                // color: #95acc6;
                color: #646464
            }
        }
        .divider {
            font-size: 20px;
            color: #646464;
            font-family: 'Muli-ExtraBold';
        }
    }
    .sidebar-list {
        .sidebar-item {
            margin: 5px 0;
            padding: 10px 0;
            font-size: 16px;
            color: $solid-light;
            border-radius: $radius;
            transition: ease .1s;
            font-family: 'Muli-SemiBold';
            &:hover {
                cursor: pointer;
                color: $solid;
                background-color: $solid-light;
            }
            &.active-item {
                color: $white2;
                background-color: $active;
                font-family: 'Muli-ExtraBold';
                &:hover {
                    background-color: $active1;
                }
            }
        }
    }
}