

.btn {
    border: none;
    font-size: 10px;
    padding: 7.5px 15px;
    border-radius: 20px;
    box-shadow: $shadow;
    text-transform: uppercase;
    transition: .1s ease;
    font-family: 'Muli-Bold';
}

.btnDark {
    color: $white;
    background-color: #383838;
    &:hover {
        cursor: pointer;
        background-color: #4e4e4e;
    }
}

.btnLight {
    color: #f67a65;
    background-color: transparent;
    border: 1px solid #f67a65;
    &:hover {
        color: white;
        cursor: pointer;
        background-color: $active1;
    }
}

.btnIcon {
    padding: 2px 10px;
    font-size: 20px;
    line-height: 0px;
}

.btnSwitch {
    width: 50px;
    height: 20px;
    display: flex;
    padding: 5px;
    font-size: 12px;
    color: #c5c5c5;
    align-items: center;
    transition: .1s ease;
    justify-content: center;
    font-family: 'Muli-Bold';
    background-color: #efefef;
    &.btnSwitch-left {
        border-radius: $radius0 0px 0px $radius0;
    }
    &.btnSwitch-right {
        border-radius: 0px $radius0 $radius0 0px;
    }
    &.selected {
        color: $white;
        background: $active1;
    }
    &:hover {
        color: $white;
        cursor: pointer;
        background-color: #c5c5c5;
    }
}
