@import "../../assets/styles/base/vars.scss";

.close-modal {
  color: $solid;
  border: none;
  position: absolute;
  background: transparent;
  font-size: 20px;
  right: 15px;
  top: 15px;
  &:hover {
    cursor: pointer;
  }
}
.modal-wrapper {
  width: 35%;
  height: 50vh;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #ffffff, #eaeaea);
  &.wide {
    width: 55%;
  }
}
.modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41496191;
}

.modal-header {
  top: 0;
  font-size: 27px;
  position: absolute;
  &.long-title {
    font-size: 22px;
  }
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.modal-form {
  margin-top: 30px;
  text-align: center;
  &.flex-form {
    height: unset;
    display: flex;
    ul {
      margin-right: 50px;
      margin-bottom: 0;
      li {
        margin-bottom: 0;
      }
    }
  }
  ul {
    min-height: 50%;
    margin-bottom: 40px;
    li {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
    }
  }

  .input-label {
    margin: 0 10px -7px 0;
    color: $unnamed;
    font-size: 15px;
    font-family: "Muli-BoldItalic";
    min-width: 70px;
  }

  input {
    background: none;
    border: none;
    border-bottom: 2px solid $solid;
  }
}

.modalImage {
  width: 450px;
}

@media only screen and (min-width: 1800px) {
  .close-modal {
    font-size: 30px;
  }
  .modal-wrapper {
    width: 35%;
    height: 45vh;
  }
  .modal-header {
    font-size: 38px;
    &.long-title {
      font-size: 28px;
    }
  }
  .modal-form {
    input {
      font-size: 22px;
    }
    .input-label {
      font-size: 20px;
    }
  }
}
