.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $white1;
    box-shadow: 6px 3px 10px  rgba($black-pure, 0.1);
    .logo {
        color: $active;
        padding-left: 87px;
        font-family: 'Muli-ExtraBoldItalic';
    }
}