.btn {
    border: 0;
    border-radius: $radius;
    &:hover {
        cursor: pointer;
    }
}

.btn-active {
    color: $white !important;
    transition: .1s ease !important;
    background-color: $active !important;
    &:hover {
        cursor: pointer !important;
        background-color: $active1 !important;
    }
}

.btn-switch {
    display: flex;
    font-size: 16px;
    color: #c5c5c5;
    padding: 2px 25px;
    align-items: center;
    transition: .1s ease;
    justify-content: center;
    font-family: 'Muli-Bold';
    background-color: #efefef;
    &.btn-switch-left {
        border-radius: $radius0 0px 0px $radius0;
    }
    &.btn-switch-right {
        border-radius: 0px $radius0 $radius0 0px;
    }
    &:hover {
        color: $white;
        cursor: pointer;
        background-color: #c5c5c5;
    }
}

.btn-switch-label {
    font-size: 14px;
    color: #c5c5c5;
    font-family: 'Muli-Bold';
}