.service-input-fields {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    .input {
        display: flex;
    }
    .input-block {
        text-align: left;
    }
    .input-label  {
        display: block;
        color: #dbdbdb;
        font-size: 12px;
        margin-bottom: 5px;
        font-family: 'Muli-BoldItalic';
    }
    #name, #value{
        display: flex;
        height: 20px;
        width: 100px;
        width: 100px;
        border: none;
        border-radius: $radius0;
        background-color: $unnamed1;
    }
    #name {
        margin-right: 50px;
    }
    #value {
        margin-right: 15px;
        width: 55px !important;
    }
    .add {
        border: none;
        width: 27px;
        height: 22px;
        color: $white1;
        font-size: 20px;
        background-color: $active;
        font-family: 'Muli-Bold';
        border-radius: $radius0;
    }
}

.service-list {
    text-align: left;
    min-height: 200px;
    margin-bottom: 35px;
    .service-list-item {
        font-size: 12px;
        padding: 12px;
        color: #717171;
        border-radius: $radius0;
        font-family: 'Muli-Bold';
        &:nth-child(even) {
            background-color: $unnamed1;
        }
        .service-name {
            margin-right: 50px;
        }
    }
}

.dashboard-main-service-footer {
    .action-btn {
        border: none;
        color: $white1;
        font-size: 12px;
        padding: 7.5px 25px;
        box-shadow: $shadow;
        border-radius: $radius0;
        background-color: $active;
        text-transform: uppercase;
        font-family: 'Muli-ExtraBold';
    }
}