.columns {
    display: flex;
    margin-bottom: 35px;
    .label {
        display: block;
        color: $unnamed;
        font-size: 12px;
        margin-bottom: 5px;
        font-family: 'Muli-BoldItalic';
    }
    .input-name, .input-value {
        display: flex;
        margin-bottom: 35px;
    }
    .service-list {
        // margin-bottom: 35px;
        min-height: 200px;
        .service-list-item {
            font-size: 12px;
            color: #717171;
            margin-bottom: 10px;
            padding: 0 0 8px 3.5px;
            font-family: 'Muli-ExtraBold';
            &:nth-child(even) {
                background-color: $unnamed1;
            }
            &.service-value {
                width: 40% !important;
            }
        }
    }

    .column-left {
        margin-right: 25px;
        text-align: left;
        #name {
            height: 20px;
            width: 100px;
            border: none;
            margin-right: 15px;
            border-radius: $radius0;
            background-color: $unnamed1;
        }
    
    }
    
    .column-right {
        text-align: left;
        #value {
            height: 20px;
            width: 55px;
            border: none;
            margin-right: 10px;
            border-radius: $radius0;
            background-color: $unnamed1;
        }
        .add {
            border: none;
            width: 27px;
            height: 22px;
            color: $white1;
            font-size: 20px;
            background-color: $active;
            font-family: 'Muli-Bold';
            border-radius: $radius0;
        }
    }
}

.dashboard-main-service-footer {
    .action-btn {
        border: none;
        color: $white1;
        font-size: 12px;
        padding: 7.5px 25px;
        box-shadow: $shadow;
        border-radius: $radius0;
        background-color: $active;
        text-transform: uppercase;
        font-family: 'Muli-ExtraBold';
    }
}