@import "../../assets/styles/base/vars.scss";

.cars {
  .car {
    margin: 5px 0;
    padding: 13px 0;
    color: $solid-light;
    border-left: 3px solid #303030;
    display: flex;
    justify-content: center;
    transition: ease 0.1s;
    &.active {
      color: $white2;
      position: relative;
      border-left: 3px solid $active1;
      background: linear-gradient(
        90deg,
        rgba(76, 43, 37, 1) 0%,
        rgba(48, 48, 48, 1) 47%
      );
      font-family: "Muli-ExtraBold";
      &:hover {
        background-color: $active1;
      }
    }
  }
}

.name {
  font-size: 16px;
  font-family: "Muli-SemiBold";
  &:hover {
    cursor: pointer;
    color: $white;
  }
  .make {
    font-size: 24px;
  }
  .plate {
    opacity: 0.7;
    font-size: 15px;
  }
}

.change-btn {
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 20px;
  svg path {
    stroke: $solid-light;
  }
  &:hover {
    cursor: pointer;
    svg path {
      stroke: $white2;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .name {
    font-size: 20px;
    .plate {
      font-size: 18px;
    }
  }

  .change-btn {
    font-size: 30px;
  }
}
