@import "../../assets/styles/base/vars.scss";

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 3;
    border-radius: 5px;
    margin: 1vh;
    text-align: center;
    background: linear-gradient(0deg, #2a2a2a, #1e1e1e);
    background-color: #303030;
    box-shadow: 4px 0px 9px #30303066;
    .logo {
        text-align: left;     
        display: flex;
        align-items: center;
        margin: 10px 0;
        img {
            padding-left: 20px;
        }
        p {
            font-size: 18px;
            color: #fbfbfb;
            font-family: 'Muli-ExtraBoldItalic';
        }
    }

    .new {
        margin: 50px 0 40px 0;
    }

    .categories {
        margin-bottom: 30px;
        .category {
            color: $solid-light;
            margin: 0 10px;
            font-size: 20px;
            font-family: 'Muli-ExtraBold';
            transition: ease .1s;
            &:hover {
                cursor: pointer;
                color: $white;
            }
            &.active {
                color: $white;
                border-bottom: 1px solid $active;
                padding: 0 0 4px 0;
            }
        }
        .divider {
            font-size: 20px;
            color: #646464;
            font-family: 'Muli-ExtraBold';
        }
    }

    .cars {
        .car {
            margin: 5px 0;
            padding: 10px 0 10px 60px;
            font-size: 16px;
            color: $solid-light;
            border-left: 3px solid #303030;
            display: flex;
            transition: ease .1s;
            font-family: 'Muli-SemiBold';
            &.active {
                color: $white2;
                border-left: 3px solid $active1;
                background: linear-gradient(90deg, rgba(76,43,37,1) 0%, rgba(48,48,48,1) 47%);
                font-family: 'Muli-ExtraBold';
                &:hover {
                    background-color: $active1;
                }
            }
            .plate {
                padding: 0 15px;
                &:hover {
                    cursor: pointer;
                    color: $white;
                }
            }
            .changeBtn {
                font-size: 20px;
                svg path{
                    stroke: $solid-light;
                }
                &:hover {
                    cursor: pointer;
                    svg path{
                        stroke: $white2;
                    }
                }
            }
        }
    }
}

