@import "../../assets/styles/base/vars.scss";

.sidebar,
.empty-sidebar {
  min-width: 310px;
  width: 310px;
  height: 100vh;
  margin-right: 12vw;
  text-align: center;
  background: linear-gradient(0deg, #2a2a2a, #1e1e1e);
  background-color: #303030;
  box-shadow: 4px 0px 9px #30303066;
}

.logo {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  p {
    font-size: 18px;
    color: #fbfbfb;
    font-family: "Muli-ExtraBoldItalic";
    margin-right: 5px;
  }
  .light {
    font-family: "Muli";
  }
}

.new {
  margin: 50px 0 40px 0;
}

@media only screen and (min-width: 1800px) {
  .sidebar,
  .empty-sidebar {
    min-width: 340px;
    width: 340px;
  }
  .logo {
    img {
      width: 80px;
    }
    p {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .sidebar {
    display: none;
  }
}
