.problem {
  margin: 0 30px;
}

@media only screen and (min-width: 1800px) {
  .problem {
    min-width: 875px;
  }
}

@media only screen and (max-width: 1799px) {
  .problem {
    min-width: 675px;
  }
}

@media only screen and (max-width: 1599px) {
  .problem {
    min-width: 635px;
  }
}

@media only screen and (max-width: 1399px) {
  .problem {
    min-width: 575px;
  }
}

@media only screen and (max-width: 1299px) {
  .problem {
    min-width: 525px;
  }
}

@media only screen and (max-width: 1199px) {
  .problem {
    min-width: 455px;
  }
}
