.dashboard {
    width: 600px;
    display: flex;
    min-height: 415px;
    box-shadow: $shadow;
    border-radius: $radius1;
    background-color: $white;
    padding: 30px 110px 45px 35px;
    .dashboard-navigation {
        min-width: 90px;
        .steps-label {
            color: $active;
            font-size: 20px;
            margin-bottom: 22.5px;
            font-family: 'Muli-ExtraBold';
           }
        .steps {
            margin-bottom: 22.5px;
            .step {
                width: 20px;
                height: 15px;
                display: inline-block;
                background-color: #efefef;
            }
            .active-step {
                width: 30px;
                height: 20px;
                background-color: $active;
            }
        }
        .new-step {
            display: flex;
            #step {
                width: 105px;
                height: 27px;
                border: none;
                margin-right: 15px;
                background-color: #efefef;
                border-radius: $radius;
            }
            .add {
                border: none;
                width: 35px;
                height: 30px;
                color: $active;
                font-size: 20px;
                font-family: 'Muli-Bold';
                border-radius: $radius;
            }
        }
        .steps-list {
            .steps-list-item {
                font-size: 12px;
                margin: 15px 0;
                color: #AAAAAA;
                font-family: 'Muli-Bold';
            }
            .active-item {
                color: $active;
                font-family: 'Muli-ExtraBold';
            }
        }
    }
    .vertical-divider {
        width: 1px;
        height: 400px;
        margin: 0 55px 0px 25px;
        background-color: $inactive;
    }
}