.infobar {
    padding: 35px 20px;
    min-width: 130px;
    min-height: 415px;
    margin-right: 5px;
    text-align: center;
    // box-shadow: $shadow;
    // border-radius: $radius1;
    // background-color: $white;
    border-radius: 5px;
    // background: linear-gradient(145deg, #cb5742, #f49200);
    background: linear-gradient(
        145deg
        , #f1f1f1, #ffffff);
    box-shadow: 5px 5px 11px #d0d0d075, -5px -5px 11px #ffffff;
    .infobar-label {
        font-size: 14px;
        color: #222222;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-family: 'Muli-BoldItalic';
        &.car-id {
            margin-bottom: 0;
        }
    }
    .info {
        span {
            display: block;
        }
        .id {
            color: $solid1;
            font-size: 14px;
            margin-bottom: 10px;
            font-family: 'Muli-ExtraBold';
        }
        .specification {
            color: $solid1;
            font-size: 13px;
            margin-bottom: 3.5px;
            font-family: 'Muli-SemiBold';
        }
        margin-bottom: 40px;
    }
    .divider {
        height: 1px;
        width: 170px;
        margin-bottom: 10px;
        background-color: $unnamed1;
    }
    .history {
        text-align: center;
        .history-nav {
            .history-nav-item {
                padding: 8px 0;
                font-size: 12px;
                font-family: 'Muli-SemiBold';
                border-radius: $radius0;
                &:hover {
                    cursor: pointer;
                }
                &.active-item {
                    color: $white2;
                    background-color: #222222;
                    font-family: 'Muli-Bold';
                }
            }
        }
    }
}