.infobar {
    padding: 20px;
    min-width: 170px;
    min-height: 415px;
    margin-right: 30px;
    box-shadow: $shadow;
    border-radius: $radius1;
    background-color: $white;
    .info {
        padding: 0 20px;
        span {
            display: block;
        }
        .id {
            color: $solid1;
            font-size: 14px;
            margin-bottom: 10px;
            font-family: 'Muli-ExtraBold';
        }
        .specification {
            color: $solid1;
            font-size: 13px;
            margin-bottom: 3.5px;
            font-family: 'Muli-SemiBold';
        }
        margin-bottom: 40px;
    }
    .divider {
        height: 1px;
        width: 170px;
        margin-bottom: 40px;
        background-color: $unnamed1;
    }
    .history {
        .history-nav {
            .history-nav-item {
                padding: 8px 0;
                font-size: 14px;
                text-align: center;
                margin-bottom: 10px;
                box-shadow: $shadow;
                font-family: 'Muli-SemiBold';
                border-radius: $radius;
                &:hover {
                    cursor: pointer;
                }
                &.active-item {
                    color: $white2;
                    background-color: $active;
                    font-family: 'Muli-Bold';
                }
            }
        }
    }
}