@import "../../../assets/styles/base/vars.scss";

.details-wrapper {
  text-align: center;
}

.form {
  display: grid;
  column-gap: 40px;
  grid-template-columns: repeat(3, $grid1);
  margin-bottom: 20px;
  .input-block {
    text-align: left;
    input {
      border: none;
      width: 100%;
      background: transparent;
      border-bottom: 1px solid black;
    }
  }
  .input-label {
    display: block;
    color: $unnamed;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .submit-btn {
    display: flex;
    align-items: flex-end;
  }
}

.details {
  min-height: 240px;
  max-height: 240px;
  text-align: left;
  overflow-y: scroll;
  margin-bottom: 30px;
  .detail {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: repeat(3, $grid1);
    font-size: 12px;
    padding: 10px 22px;
    color: $solid;
    border-radius: 2.5px;
    font-family: "Muli-Bold";
    &:nth-child(even) {
      background: linear-gradient(45deg, $unnamed1, transparent);
    }
    .delete {
      font-size: 14px;
      &:hover {
        fill: $active;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  .form {
    margin-bottom: 40px;
    grid-template-columns: repeat(3, $grid);
    .input-label {
      font-size: 18px;
    }
    .input-block input {
      font-size: 20px;
      padding: 10px 5px;
    }
  }

  .details {
    min-height: 370px;
    max-height: 370px;
    .detail {
      grid-template-columns: repeat(3, $grid);
      font-size: 18px;
      .delete {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .form {
    grid-template-columns: repeat(3, $grid2);
  }

  .details {
    .detail {
      grid-template-columns: repeat(3, $grid2);
    }
  }
}

@media only screen and (max-width: 1300px) {
  .form {
    grid-template-columns: repeat(3, $grid3);
  }

  .details {
    .detail {
      grid-template-columns: repeat(3, $grid3);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .form {
    grid-template-columns: repeat(3, $grid4);
  }

  .details {
    .detail {
      grid-template-columns: repeat(3, $grid4);
    }
  }
}
