@import "../../assets/styles/base/vars.scss";

.problems {
    min-width: 100px;
    padding: 0 30px;
    border-right: 2px solid #e7e7e7;
    text-align: center;

    .label {
        margin-bottom: 20px;
    }

    button {
        margin-bottom: 20px;
    }

    ul {
        li {
            font-size: 12px;
            margin: 10px 0;
            color: $unnamed;
            font-family: 'Muli-Bold';
            &:hover {
                transition: .1s ease;
                cursor: pointer;
                color: $active1;
            }
        }
        .selectedProblem {
            color: $active;
            font-family: 'Muli-ExtraBold';
        }
    }
}
