.dashboard-main-header {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    .label {
        color: $solid;
        font-size: 24px;
        font-family: 'Muli-ExtraBold';
    }
}