.request-label {
    color: $active;
    font-size: 18px;
    margin-bottom: 12px;
    font-family: 'Muli-ExtraBold';
}

.request {
    font-size: 14px;
    color: $unnamed;
    font-family: 'Muli-MediumItalic';
}