.service-input-fields {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    // .input {
    //     display: flex;
    // }
    .input-block {
        // display: flex;
        text-align: left;
    }
    .input-label  {
        display: block;
        color: #dbdbdb;
        font-size: 12px;
        margin-bottom: 5px;
        font-family: 'Muli-BoldItalic';
    }
    #name, #price{
        display: flex;
        height: 20px;
        width: 100px;
        width: 100px;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $active;
    }
    #name {
        width: 250px;
        margin-right: 20px;
        // &::placeholder {
        //     color: #767676;
        //     font-family: 'Muli-Italic';
        //     font-size: 12px !important;
        // }
    }
    #value {
        // margin-right: 15px;
        width: 69px !important;
    }
    .add {
        border: none;
        width: 27px;
        height: 22px;
        color: $white1;
        font-size: 20px;
        margin: 20px 15px 0 10px;
        background-color: $active;
        font-family: 'Muli-Bold';
        border-radius: $radius0;
    }
}

.service-list {
    text-align: left;
    min-height: 150px;
    margin-bottom: 80px;
    .service-list-item {
        display: flex;
        font-size: 11px;
        padding: 10px 22px;
        color: #949494;
        border-radius: 2.5px;
        font-family: 'Muli-Bold';
        &:nth-child(even) {
            background-color: $unnamed1;
        }
        .service-name {
            width: 260px;
        }
    }
}

.dashboard-main-service-footer {
    .action-btn {
        border: none;
        color: $white1;
        font-size: 12px;
        padding: 7.5px 25px;
        box-shadow: $shadow;
        border-radius: $radius0;
        background-color: $active;
        text-transform: uppercase;
        font-family: 'Muli-ExtraBold';
    }
}
