@import "../../../assets/styles/base/vars.scss";

.header {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  .label {
    color: $solid;
    font-size: 24px;
    font-family: "Muli-ExtraBold";
  }

  .switchBtns {
    display: flex;
    box-shadow: $shadow;
  }
}

@media only screen and (min-width: 1600px) {
  .header {
    margin-bottom: 60px;
  }
}
