.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 260px min-content;
  grid-template-rows: 125px min-content;
}

.dashboard {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  position: relative;
  border: solid 4px gray;
  border-radius: 20px;
  width: 850px;
  background: linear-gradient(145deg, #ffffff, #f2f2f247);
  box-shadow: 5px 5px 10px #38383838;
  padding: 30px 0px 45px 0px;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(2px);
  > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
