@import "../../assets/styles/base/vars.scss";

.helper {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: -70px;
  p {
    font-size: 18px;
    font-family: "Muli-SemiBold";
    color: $solid;
  }
}

@media only screen and (min-width: 1600px) {
  .helper {
    top: -110px;
    p {
      font-size: 26px;
    }
  }
}
