.sidebar {
    width: 230px;
    height: 98vh;
    border-radius: 5px;
    margin: 1vh;
    position: absolute;
    text-align: center;
    background: linear-gradient(0deg, #2a2a2a, #1e1e1e);
    background-color: #303030;
    box-shadow: 4px 0px 9px #30303066;
    .logo {
        text-align: left;     
        display: flex;
        align-items: center;
        margin: 10px 0;
        .logo-image {
            padding-left: 20px;
        }
        .logo-label {
            font-size: 18px;
            color: #fbfbfb;
            font-family: 'Muli-ExtraBoldItalic';
        }
    }
    .new {
        width: 60px;
        height: 30px;
        font-size: 16px;
        color: $white2;
        transition: ease .1s;
        margin: 50px 0 40px 0;
        font-family: 'Muli-ExtraBold';
        &:hover {
            background-color: $active1;
        }
    }
    .categories {
        margin-bottom: 30px;
        .category {
            color: $solid-light;
            margin: 0 10px;
            font-size: 20px;
            font-family: 'Muli-ExtraBold';
            transition: ease .1s;
            &:hover {
                cursor: pointer;
                color: $white;
            }
            &.active-category {
                color: $white;
                border-bottom: 1px solid $active;
                padding: 0 0 4px 0;
            }
        }
        .divider {
            font-size: 20px;
            color: #646464;
            font-family: 'Muli-ExtraBold';
        }
    }

    .sidebar-list {
        .sidebar-item {
            margin: 5px 0;
            padding: 10px 0;
            font-size: 16px;
            color: $solid-light;
            border-left: 3px solid #303030;
            justify-content: center;
            display: flex;
            // border-radius: $radius;
            transition: ease .1s;
            font-family: 'Muli-SemiBold';
            &.active-item {
                color: $white2;
                // background-color: $active;
                border-left: 3px solid $active1;
                // background: linear-gradient(90deg, rgba(146,67,53,1) 0%, rgba(48,48,48,1) 60%);
                // background: linear-gradient(90deg, rgba(146,67,53,1) 0%, rgba(96,57,50,1) 21%, rgba(48,48,48,1) 47%);
                // background: linear-gradient(90deg, rgba(76,43,37,1) 0%, rgba(63,45,42,1) 19%, rgba(48,48,48,1) 47%);
                background: linear-gradient(90deg, rgba(76,43,37,1) 0%, rgba(48,48,48,1) 47%);
                font-family: 'Muli-ExtraBold';
                &:hover {
                    background-color: $active1;
                }
            }
            .plate {
                padding: 0 15px;
                &:hover {
                    cursor: pointer;
                    color: $white;
                }
            }
            .changeBtn {
                font-size: 20px;
                svg path{
                    stroke: $solid-light;
                }
                &:hover {
                    cursor: pointer;
                    svg path{
                        stroke: $white2;
                    }
                }
            }
        }
    }
}

.closeModal {
    position: absolute;
    right: -90px;
    top: -22px;
}

.inputLabel {
    width: 150px;
}

.modal-wrapper {
    width: 30%;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #f1f1f1, #ffffff);
  }

  .modal-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #41496191;
  }
