@import "../../assets/styles/base/vars.scss";

.mainHeader {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: "Muli-SemiBold";
    color: $solid;
  }
}

@media only screen and (min-width: 1600px) {
  .mainHeader p {
    font-size: 26px;
  }
}
