@import "../../assets/styles/base/vars.scss";

.fixes-wrapper {
  left: -106px;
  position: absolute;
  padding: 10px 5px;
  min-width: 92px;
  min-height: 180px;
  text-align: center;
  border-radius: 5px 0 0 5px;
  background: $active;
  color: white;

  .label {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .new-fix {
    padding: 0;
    width: 60%;
    font-size: 16px;
    box-shadow: none;
  }

  .fixes {
    height: 130px;
    max-height: 130px;
    overflow-y: scroll;
    .fix {
      padding: 2px 0;
      margin: 5px 0;
      font-size: 12px;
      font-family: "Muli-SemiBold";
      &:hover {
        cursor: pointer;
        font-family: "Muli-ExtraBold";
      }
      &.selected-fix {
        font-family: "Muli-ExtraBold";
      }
    }
  }
}
