@import "../../assets/styles/base/vars.scss";

.fixesWrapper {
    left: -106px;
    position: absolute;
    padding: 20px 25px;
    min-width: 56px;
    min-height: 160px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    background: $active;
    color: white;

    .label {
        margin-bottom: 20px;
    }

    .newFix {
        width: 80%;
        font-size: 16px;
        padding: 3px 0;
        box-shadow: none;
        margin-bottom: 15px;
    }

    .fixes {
        .fix {
            padding: 8px 0;
            margin: 5px 0;
            font-size: 12px;
            font-family: 'Muli-SemiBold';
            border-radius: 25px;
            &:hover {
                cursor: pointer;
            }
            &.selectedFix {
                color: $white2;
                background-color: #f67a65;
                font-family: 'Muli-Bold';
            }
        }
    }
}
